%h1 Listing users

%table
  %tr
    %th Login
    %th Name
    %th Email
    %th Passwd
    %th{:colspan=>3} Operations

  - @users.each do |user|
    %tr
      %td= user.login
      %td= user.name
      %td= user.email
      %td= (user.passwd || '').gsub(/./, '*')[0,6]
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
